/*
  main: #f7ee5d
  background: #F7D55D
  accent: #C9EB59
*/

.container {
  background-color: #F7D55D;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.inner-wrapper {
  width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

.bar-search-wrapper {
  height: 500px;
}

.bar-wrapper {
  background-color: #f7ee5d;
  height: 500px;
}

.search-wrapper {
  margin: 0;
  width: 600px;
  height: 500px;
  float:right;
}

.bar {
  margin: 0;
  float:left;
  background-color: #C9EB59;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: calc(100% - 40px);
  width: calc(400px - 40px);
}

.suggestion {
  border: 1px solid #7e7e7e;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.search-header {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 4em;
}

.search-text {
  margin: 20px 40px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.search-box, .btn-browse {
  width: 220px;
  outline: none;
  border: 1px solid #888;
  height: 30px;
  background-color: #fff;
}

.search-box {
  padding: 0 10px;
}

.btn-browse {
  display: inline-block;
}

.results-box {
  margin: 0 40px;
  background-color: #fff;
  border: 1px solid #888;
  padding: 5px 10px;
}

.results-box:empty {
  display: none;
}

.result {
  height: 30px;
}

.result span {
  display: inline-block;
  width: 40%;
  margin: 0;
}

.result-descript {
  text-align: right;
  color: #888;
}

.btn-offset {
  width: 20%;
  margin: 0;
  display: inline-block;
  text-align: right;
}

.bar-header {
  margin: 0 0 10px 0;
  border-bottom: 1px solid black;
}

.suggestions-box {
}

.suggestion {
  background-color: #fff;
  padding: 5px;
  margin: 5px 0;
}

.bar-list {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.bar-list p {
  color: #888;
}

.bar-ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  font-size: 1.3em;
}

.btn-close {
  display: inline-block;
  font-size: 16px;
  outline: none;
  border: none;
  background: #ff0000;
  color: #fff;
  padding: 0;
  height: 18px;
  width: 18px;
  min-width: 18px;
  text-align: center;
  float: right;
}

.drinks {
  background-color: #E8FAAB;
  overflow: hidden;
}

.drinks h2 {
  border-bottom: 1px solid black;
  margin: 20px;
}

.drinks-section {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;;
}

.drink {
  height: 190px;
  width: calc(25% - 42px);
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: all 0.3s ease;
}

.drink:hover {
  box-shadow: inset 0 0 40px 10px #f7ee5d;
}

.modal {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  background-color: #f7ee5d;
  max-width: 500px;
  padding: 20px;
  border: 1px solid black;
}

.modal h3 {
  font-size: 1.5em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-modal-overlay {

}
